HELP.md
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
db.sqlite3
.python-version
logs/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

blog/__pycache__/
blog/migrations/__pycache__/
blog2/__pycache__/
blog2/migrations/__pycache__/
myblog/__pycache__/
myblog/settings/__pycache__/

.scannerwork
*_env/
